body {
    
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(230, 0, 255) 3%, rgba(101,0,94,1) 38%, rgb(143, 48, 238) 68%, rgb(36, 25, 255) 98%);
    animation: gradient 100s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 10em;
    animation: wave 16s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

h2 {
  color: transparent;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 2px #ffff;
}
h1 {
  color: transparent;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 2px #ffff;
  
}
h3{
 color: white;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 2px #000;
  
}